#contact {
    display: flex;
    color: black;
    .form {
      padding: 10px 0;
    }
    .form-row {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .new-iten {
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            .form-group {
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
        }
    }
}

#mapouter{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:259px;
    width:810px;
}

/*Head-Intro Section */
div.headerIni{
  position: absolute;
  display: inline-block;
  width: 100vw;
  height: 5vh;
  ul{
    p{
      display: inline;
      margin: 0;
    }
    color: #fff;
    list-style: none;
    background-color: hsla(353, 100%, 41%, 0.85);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-left: 20px;
    .left {
      justify-content: flex-start;
      flex-grow: 1;
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 2;
    }
    li.item-right {
      margin-right: 10px;
    }
    li.last {
      margin-right: 30px;
    }
  }
}

@media(max-width: 475px) {
  div.headerIni{
    ul {
      p.none {
        display: none;
      }
    }
  }
}

#header {
  margin-top: 5vh;
  #mobile-nav-toggle {
    position: static;
    float: right;
    margin: 0 20px 0 0;
  }
}

.btn-primary {
    background-color: #d20017;
    border-color: #d20017;
    &:active,
    &:focus,
    &:hover {
      background-color: darken(#d20017, 7.5%) !important;
      border-color: darken(#d20017, 7.5%) !important;
      color: white;
    }
}

header.masthead {
    text-align: center;
    color: white;
    background-image: url('../img/lab.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    .intro-text {
      padding-top: 150px;
      padding-bottom: 100px;
      .intro-lead-in {
        font-size: 22px;
        font-style: italic;
        line-height: 22px;
        margin-bottom: 25px;
        
      }
      .intro-heading {
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 25px;
       
      }
    }
  }
  @media(min-width:768px) {
    header.masthead {
      .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
        .intro-lead-in {
          font-size: 40px;
          font-style: italic;
          line-height: 40px;
          margin-bottom: 25px;
         
        }
        .intro-heading {
          font-size: 75px;
          font-weight: 700;
          line-height: 75px;
          margin-bottom: 50px;
          
        }
      }
    }
  }
  

/* Timeline Section */
.page-section {
    padding: 100px 0;

    h2.section-heading {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
      color: #fff;
    }

    h3.section-subheading {
      font-size: 40px;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 70px;
      text-transform: none;
      color:#fff;
    }
}

  @media(min-width:768px) {
    section {
      padding: 150px 0;
    }
  }
  
  // Highlight color customization
  ::-moz-selection {
    text-shadow: none;
  }
  
  ::selection {
    text-shadow: none;
  }
  
  img::selection {
    background: transparent;
  }
  
  img::-moz-selection {
    background: transparent;
}

#about{
    background-color: black;
}

.timeline {
    background-color: black;
    position: relative;
    padding: 0;
    list-style: none;
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 40px;
      width: 2px;
      margin-left: -1.5px;
      content: '';
      color: #d20017;
      border: 2px dashed;
    }
    > li {
      position: relative;
      min-height: 50px;
      margin-bottom: 50px;
      &:after,
      &:before {
        display: table;
        content: ' ';
      }
      &:after {
        clear: both;
      }
      .timeline-panel {
        position: relative;
        float: right;
        width: 100%;
        padding: 0 20px 0 100px;
        text-align: left;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      .timeline-image {
        position: absolute;
        z-index: 100;
        left: 0;
        width: 80px;
        height: 80px;
        margin-left: 0;
        text-align: center;
        color: white;
        border: 7px solid #d20017;
        border-radius: 100%;
        background-color: #fff;
        h4 {
          font-size: 10px;
          line-height: 14px;
          margin-top: 12px;
          color: #fff;
        }
      }
      &.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 20px 0 100px;
        text-align: left;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .timeline-heading {
      h4 {
        margin-top: 0;
        color: inherit;
        &.subheading {
          text-transform: none;
        }
      }
    }
    .timeline-body {
       > ul,
      > p {
        margin-bottom: 0;
        color: #fff;
      }
    }
  }

  @media(min-width:768px) {
    .timeline {
      &:before {
        left: 50%;
      }
      > li {
        min-height: 100px;
        margin-bottom: 100px;
        .timeline-panel {
          float: left;
          width: 41%;
          padding: 0 20px 20px 30px;
          text-align: right;
        }
        .timeline-image {
          left: 50%;
          width: 100px;
          height: 100px;
          margin-left: -50px;
          h4 {
            font-size: 13px;
            line-height: 18px;
            margin-top: 16px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          float: right;
          padding: 0 30px 20px 20px;
          text-align: left;
        }
      }
    }
  }
  @media(min-width:992px) {
    .timeline {
      > li {
        min-height: 150px;
        .timeline-panel {
          padding: 0 20px 20px;
        }
        .timeline-image {
          width: 150px;
          height: 150px;
          margin-left: -75px;
          h4 {
            font-size: 18px;
            line-height: 26px;
            margin-top: 30px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          padding: 0 20px 20px;
        }
      }
    }
  }
  @media(min-width:1200px) {
    .timeline {
      > li {
        min-height: 170px;
        .timeline-panel {
          padding: 0 20px 20px 100px;
        }
        .timeline-image {
          width: 170px;
          height: 170px;
          margin-left: -85px;
          h4 {
            margin-top: 40px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          padding: 0 100px 20px 20px;
        }
      }
    }
  }

/* Clients Sections */
#clients{
  padding: 200px 0;
  background: url("../img/union.jpg") center top no-repeat fixed;
  position: relative;
  background-color:rgba(129, 28, 28, 0.678);
  background-blend-mode: multiply;
  background-size: cover;
  .section-header{
    h3{
      text-align: top;
      color: #fff;
  }
}

  img {
    max-width: 100%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px 0;
  }
  
  img:hover {
    opacity: 1;
  }
}

.margin-top {
  margin-top: 15px;
}

.mapouter {
  width:100%;
}

#gmap_canvas {
  width: 100%;
  height: 259px;
}

#team {
  .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .team-carousel {
    .iten-300 {
      width: 300;
    }
  }
}
